.posts {
  padding: 3vh;
  margin: 0;
  border-radius: 12px;
  border: 2px solid #e1e1e1;
}

article {
  padding: 3vh;
  margin: 3vh 0;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
